:root:has(input.theme-controller[value=mytheme]:checked),
[data-theme="mytheme"] {
    /* mytheme is the name of the custom theme */
    name: "light";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.003 247.858);
    --color-base-200: oklch(100% 0.00011 271.152);
    --color-base-300: oklch(100% 0.00011 271.152);
    --color-base-content: oklch(20% 0.042 265.755);
    --color-primary: oklch(63% 0.237 25.331);
    --color-primary-content: oklch(75.082% 0.11982 147.774);
    --color-secondary: oklch(59.029% 0.24224 29.223);
    --color-secondary-content: oklch(100% 0 0);
    --color-accent: oklch(0% 0 0);
    --color-accent-content: oklch(28% 0.109 3.907);
    --color-neutral: oklch(20% 0.042 265.755);
    --color-neutral-content: oklch(98% 0.002 247.839);
    --color-info: oklch(68% 0.169 237.323);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(98% 0.022 95.277);
    --color-error: oklch(57% 0.245 27.325);
    --color-error-content: oklch(97% 0.014 343.198);
    --radius-selector: 2rem;
    --radius-field: 0.5rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1.5px;
    --depth: 1;
    --noise: 0;
}